  <p>
    <strong>Date:</strong>
    <%= booking.date %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= booking.activity.title %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= booking.activity.location %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= booking.activity.description %>
  </p>
  <p>
    <strong>Photo:</strong>
    <%= booking.activity.poster_url %>
  </p>
    <p>
    <strong>Owner:</strong>
    <%= booking.activity.user.name %>
  </p>