<h1>My profile</h1>
<div class="container d-flex mt-4">
  <div>
    <% path = current_user.photo.attached? ? cl_image_path(current_user.photo.key, height: 300, crop: :fill) : asset_path( 'default_profil.png')%>
    <img src="<%=path%>" height="260" width="260" class="rounded-circle">
  </div>

  <div class= "mt-3 ms-5">
    <p><strong>Name:</strong> <%= current_user.name %></p>
    <p><strong>E-mail:</strong> <%= current_user.email %></p>
    <p><strong>Description:</strong> <%= current_user.description %></p>
  </div>
</div>


<div class="mt-4 ms-5 ps-4">
  <%= link_to "Edit my information", edit_user_registration_path %>
</div>
