<% path = activity.photo.attached? ? cl_image_path(activity.photo.key, height: 300, crop: :fill) : asset_path( 'logo_friend.png')%>

<div class="card-trip">
  <img src="<%=path%>">
  <div class="card-trip-infos">
    <div>
      <h2><%= activity.title %></h2>
      <p><i class="fa-sharp fa-solid fa-location-dot me-1"></i><!--Location:--><%= activity.location %></p>
      <!--<p><strong>Description:</strong><%= activity.description %> <strong>Owner:</strong>
    <%= activity.user.name %></p>-->

    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />

  </div>
</div>
