<% path = activity.photo.attached? ? cl_image_path(activity.photo.key, height: 300, crop: :fill) : asset_path( 'logo_friend.png')%>
<%= link_to activity_path(activity) do %>
<div class="card-trip">
  <img src="<%=path%>">
  <div class="card-trip-infos">
    <div>
      <h2><%= activity.title %></h2>
      <p><i class="fa-sharp fa-solid fa-location-dot me-1"></i><!--Location:--><%= activity.location %></p>
      <!--<p><strong>Description:</strong><%= activity.description %> <strong>Owner:</strong>
    <%= activity.user.name %></p>-->

    </div>
          <%= link_to user_path(user) do%>
            <img src="<%= cl_image_path(activity.user.photo.key, height: 900) %>" class="card-trip-user avatar-bordered" />
          <%end%>
  </div>
</div>
<% end %>
