
<div class="card-trip">
  <img src="<%= activity.poster_url %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= activity.title %></h2>
      <p><strong>Location:</strong><%= activity.location %></p>
      <!--<p><strong>Description:</strong><%= activity.description %> <strong>Owner:</strong>
    <%= activity.user.name %></p>-->

    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>

