<h1>Activities</h1>
<%= form_with url: activities_path, method: :get do |f| %>
  <%= f.label :query, "Search for:" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>
<%= render "activities/list", activities: @activities %>