
<div class="row">

  <!-- activities grid -->
  <div class="col-8" id="activities" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="d-flex mb-5" style="justify-content: space-between;">
      <h1>Activities</h1>
      <p><%= link_to "+ New activity", new_activity_path, class: "btn btn-flat" %></p>
    </div>
    <div class="row">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Activity</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" data-action="click->map#loadmap">Map</button>
        </li>
      </ul>
    </div><!-- row end -->

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="row">
          <!--------------------------------------- T A B 1 - C O N T E N T------------------------------------------------------------------------------------->
            <% @activities.each do |activity| %>
              <div class="col-md-4 col-xxl-4 col-sm-12 mt-5 a-none">
                <%= render "activity", activity: activity %>
              </div>
            <% end %>
          <!--------------------------------------- T A B 1 — E N D ------------------------------------------------------------------------------------->
        </div> <!-- row end -->
      </div> <!-- tab-pane 1 end -->
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="1">
        <!--------------------------------------- T A B 2  - C O N T E N T------------------------------------------------------------------------------------->
        <div class="" id="map" data-map-target="map">
          <%= render "activities/map" %>
        </div>
        <!--------------------------------------- T A B 2 — E N D ------------------------------------------------------------------------------------->
      </div> <!-- end pane 2 -->
    </div> <!-- end tab content -->
  </div><!-- end col 8 -->


  <div class="col-4" style="">
    <div style="background-color: #FFF; border-radius: 10px; padding:2rem; position: sticky; top: 5rem;">
      <div class="mb-3">
        <%= form_with url: activities_path, method: :get do |f|  %>
          <div class="form-floating mb-3">
            <%= f.text_field :query, class: "form-control mb-3", id: "floatingInput", placeholder: "name@example.com" %>
            <%= f.label "Search for:", for:"floatingInput" %>
          </div><!-- end form -->

          <div data-controller="search-bar" class="form-group">
            <%= f.text_field :at, data: { action: "keyup->search-bar#autocomplete", 'search-bar-target': "input" },
            class:"form-control mb-3", list:"datalistOptions", label:"" %>
            <datalist id="datalistOptions" data-search-bar-target="results">

            <%= f.label :at, "at:", for:"floatingSelect" %>
            </datalist>
          </div><!-- end data controller -->

          <div class="d-flex justify-content-between">
            <div>
              <%= f.select :km, [5, 10, 20], class:"form-select", id:"floatingSelect", ariaLabel:"Floating label select example" %>
              <%= f.label :km, "km", for:"floatingSelect" %>
            </div>
            <div>
              <%= f.submit "Search", class: "btn btn-flat"%>
            </div>
          </div><!-- end d-flex -->

        <% end %>
      </div><!-- end mb3 -->
    </div>
  </div><!-- end col 4 -->
</div><!-- end primary row ->

