
<div class="container floclass">
  <div class="row">
    <h1>Activities</h1>
      <%= form_with url: activities_path, method: :get do |f| %>
      <%= f.label :query, "Search for:" %>
      <%= f.text_field :query %>
      <%= f.label :at, "at:" %>
      <div data-controller="search-bar"><%= f.text_field :at, data: { action: "keyup->search-bar#autocomplete", 'search-bar-target': "input" } %>
        <ul data-search-bar-target="results">
        </ul>
      </div>
      <%= f.select :km, [5, 10, 20]%>
      <%= f.label :km, "km" %>
      <%= f.submit "Search" %>
    <% end %>
  </div>

  <div class="row">
      <%= render "activities/list", activities: @activities %>
  </div>
</div>



<%= render "activities/map" %>
