
<div class="container d-flex justify-content-between">
  <div class="flex-grow-1">
    <%= render @activity %><br/>
    <p><strong>Description :</strong></p><%= @activity.description %>

    <%= render "activities/map" %>
    <div class="mt-5 mb-5">
      <%= link_to "Back to activities", activities_path %>
    </div>
  </div>


  <div class="p-3 pt-5">
    <%= simple_form_for [@activity, @booking] do |f| %>
    <%= f.input :date%>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

