<%= render @activity %>

<% @activity.bookings.each do |booking| %>
  <p><%= booking.date %> by <%= booking.user.name %></p>
<% end %>
<%= link_to "Book this activity", new_activity_booking_path(@activity) %>
<%= link_to "Edit this activity", edit_activity_path(@activity) %>
<%= link_to "Delete this activity", activity_path(@activity), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
<%= link_to "Back to activities", activities_path %>