
<div class="container d-flex justify-content-around" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="flex-grow-1 pe-3" id="yolo">
    <%= render @activity || "show_activity" %><br/>

    <p><strong>Description :</strong></p><%= @activity.description %>
    <div class="" id="map" data-map-target="map">
      <%= render "activities/map" %>
    </div>
    <div class="mt-5 mb-5">
      <%= link_to "Back to activities", activities_path %>
    </div>
  </div>


  <div class="p-3 pt-5" style="border: #FFFFFF; border-radius: 50px; height: 300px; background-color: white;">
    <%= simple_form_for [@activity, @booking] do |f| %>
    <%= f.input :date%>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
